In [22]:
import pandas as pd 
from io import StringIO
import re

In [23]:
data = """\
securityName,AHAM INR Flexi
Amanat Lebuhraya Rakyat Berhad 5.09%,2.61122
Danum Capital Berhad 4.68%,2.54673
Eco World Capital Berhad 4.9%,2.53743
Hong Leong Financial Group Berhad 4.3%,2.45100
"""
data

'securityName,AHAM INR Flexi\nAmanat Lebuhraya Rakyat Berhad 5.09%,2.61122\nDanum Capital Berhad 4.68%,2.54673\nEco World Capital Berhad 4.9%,2.53743\nHong Leong Financial Group Berhad 4.3%,2.45100\n'

In [24]:
df = pd.read_table(StringIO(data), sep=',').set_index("securityName")
df.rename(lambda x: re.sub(r"\d+\.\d+%$", "", x), axis=0, inplace=True)
df

                                    AHAM INR Flexi
securityName
Amanat Lebuhraya Rakyat Berhad             2.61122
Danum Capital Berhad                       2.54673
Eco World Capital Berhad                   2.53743
Hong Leong Financial Group Berhad          2.45100