In [35]:
import pandas as pd 
import numpy as np

In [201]:
df = pd.read_csv("ASTUTE DYNAMIC FUND.csv", index_col=1, parse_dates=True).dropna()
df.index = pd.to_datetime(df.index, format="%d/%m/%Y").drop("Unnamed: 0", axis=1)
# index = pd.date_range("2018-01-01", "2024-03-31", freq='D')
# df = pd.DataFrame(np.random.random(len(index)), index=index, columns=['Last'])
df

TypeError: Index.drop() got an unexpected keyword argument 'axis'

In [181]:
class Financial_metrics_calculation:

    YTD_RISK_FREE_RATE =0.0067
    ONE_Y_RISK_FREE_RATE = 0.028
    THREE_Y_RISK_FREE_RATE = 0.0734
    FIVE_Y_RISK_FREE_RATE = 0.1276
    TEN_Y_RISK_FREE_RATE = 0.3228

    RISK_FREE_RATES = pd.DataFrame([YTD_RISK_FREE_RATE, ONE_Y_RISK_FREE_RATE, THREE_Y_RISK_FREE_RATE, FIVE_Y_RISK_FREE_RATE, TEN_Y_RISK_FREE_RATE], index=["YTD Risk Free Rate", "1Y Risk Free Rate", "3Y Risk Free Rate", "5Y Risk Free Rate", "10Y Risk Free Rate"]).T

    def __init__(self, df):
        self.df = df
        self.month_end_data = self.df.resample("M").last()
        self.years = self.df.index.year.unique()

    def compute_returns(self, return_df):
        return (return_df.iloc[-1, :] / return_df.iloc[0, :]) - 1

    def annual_return(self):
        return_df = pd.DataFrame()
        for year in self.years:
            return_df[f"{year} Return"] = self.compute_returns(self.df.loc[str(year), :])
        return return_df

    def fund_returns(self):
        return_df = pd.DataFrame(columns=["YTD Return", "1Y Return", "3Y Return", "5Y Return", "10Y Return"])
        return_df["YTD Return"] = self.compute_returns(self.df.loc["2024", :])
        years = [1, 3, 5, 10]
        for year in years:
            end_date = self.df.index[-1].date()
            start_date = end_date - pd.DateOffset(years=year)
            earliest_date = self.df.index[0].date()        
            if start_date.date() >= earliest_date:
                period_df = self.df.loc[str( start_date ): str(end_date)] 
                return_df[f"{year}Y Return"] = self.compute_returns(period_df)
            else:
                return_df[f"{year}Y Return"] = np.nan
        return return_df

    def compute_std(self, period_df):
        return_df = period_df.pct_change()
        return return_df.std(ddof=1)

    def annual_std(self):
        std_df = pd.DataFrame()
        for year in self.years:
            std_df[f"{year} Std"] = self.compute_std(self.df.loc[str(year), :])
        return std_df

    def fund_std(self):
        std_df = pd.DataFrame(columns=["YTD Std", "1Y Std", "3Y Std", "5Y Std", "10Y Std"])
        std_df["YTD Std"] = self.compute_std(self.df.loc["2024", :])
        years = [1, 3, 5, 10]
        for year in years:
            end_date = self.df.index[-1].date()
            start_date = end_date - pd.DateOffset(years=year)
            earliest_date = self.df.index[0].date()        
            if start_date.date() >= earliest_date:
                period_df = self.df.loc[str( start_date ): str(end_date)]
                std_df[f"{year}Y Std"] = self.compute_std(period_df)
            else:
                std_df[f"{year}Y Std"] = np.nan
        return std_df

    def annualized_return(self, return_df):
        target_return = return_df.iloc[:5, :]
        temp_df = pd.concat([target_return, pd.Series([self.df.index[-1].month/12, 1, 3, 5, 10], index=target_return.index)], axis=1)
        annualized_df = (1 + temp_df.iloc[:, 0]) ** (1/temp_df.iloc[:, -1]) - 1
        return_df.iloc[:5, :] = annualized_df.to_frame()
        return return_df

    def annuazlied_std(self, std_df):
        return std_df * np.sqrt(252)
    
    def fund_sharpe(self):
        fund_returns = self.annualized_return( pd.concat([self.fund_returns(), self.annual_return()], axis=1).T)
        fund_stds = self.annuazlied_std( pd.concat([self.fund_std(), self.annual_std()], axis=1).T )
        fund_risk_free_rates = pd.DataFrame(np.full_like(fund_returns, Financial_metrics_calculation.ONE_Y_RISK_FREE_RATE), index=fund_returns.index)
        sharpe_df = pd.concat([fund_returns.reset_index(drop=True), fund_risk_free_rates.reset_index(drop=True), fund_stds.reset_index(drop=True)], axis=1, ignore_index=True)
        sharpe_df = sharpe_df.rename(columns = dict(zip(sharpe_df.columns, ["Returns", "Risk Free Rate", "Std"])))
        sharpe_df.index = ["YTD Sharpe", "1Y Sharpe", "3Y Sharpe", "5Y Sharpe", "10Y Sharpe"] + [f"{year} Sharpe" for year in self.years]
        sharpe_ratio_df = ((sharpe_df['Returns'] - sharpe_df['Risk Free Rate']) / sharpe_df['Std']).to_frame()
        sharpe_ratio_df.columns = ["Last"]
        return sharpe_ratio_df

    def max_drawdown(self):
        max_nav = self.df.cummax()
        diff_nav_max = self.df - max_nav
        drawdown = diff_nav_max / max_nav
        max_drawdown = drawdown.min()
        # print(max_drawdown)
        return max_drawdown

In [185]:
x= fund.annualized_return(fund.fund_returns().T)
x

                Last
YTD Return  7.311701
1Y Return   9.661462
3Y Return   0.268652
5Y Return   0.515226
10Y Return       NaN

In [187]:
y = fund.annuazlied_std(fund.fund_std().T)
y

                Last
YTD Std   281.673498
1Y Std    150.736581
3Y Std   6755.318016
5Y Std   5237.939979
10Y Std          NaN

In [189]:
(0.515226 - 0.028) / 5237.939979

9.301862983413158e-05

In [182]:
fund = Financial_metrics_calculation(df)
x= fund.fund_sharpe()
# y = pd.concat([x.iloc[:5, :], pd.Series([3/12, 1, 3, 5, 10], index=x.iloc[:5, :].index)], axis=1)
# z = (1 + y['Last']) ** y[0] - 1
# # x.iloc[:5] = z.to_frame()
# y
x

                 Last
YTD Sharpe   0.025859
1Y Sharpe    0.063909
3Y Sharpe    0.000036
5Y Sharpe    0.000093
10Y Sharpe        NaN
2018 Sharpe  0.002940
2019 Sharpe -0.000075
2020 Sharpe  0.064573
2021 Sharpe -0.000034
2022 Sharpe -0.000008
2023 Sharpe -0.000809
2024 Sharpe  0.002378

In [88]:

df.index[-1].month

3

In [39]:
# date  = df.index[0].date() 
end_date = df.index[-1].date()
start_date = end_date - pd.DateOffset(years=1)
earliest_date = df.index[0].date()
start_date.date() >= earliest_date

True

In [ ]:
date = 
df.loc[]

In [41]:
financial_metrics = Financial_metrics_calculation(df)
# returns = pd.concat([financial_metrics.fund_returns(), financial_metrics.annual_return()], axis=1)
# sharpe_ratios = financial_metrics.fund_sharpe().T
# max_drawdown = financial_metrics.max_drawdown()
# combined_df = pd.concat([returns, sharpe_ratios], axis=1)
combined_df['Max Drawdown'] = financial_metrics.max_drawdown()
combined_df

KeyError: '2024'

In [174]:
combined_df[['1', '2', '3']] = [1,2,3]
combined_df

,YTD Return,1Y Return,3Y Return,5Y Return,10Y Return,2017 Return,2018 Return,2019 Return,2020 Return,2021 Return,...,2019 Sharpe,2020 Sharpe,2021 Sharpe,2022 Sharpe,2023 Sharpe,2024 Sharpe,Max Drawdown,1,2,3
Last,0.080346,0.107709,-0.044818,-0.022857,NaN,0.029619,-0.124338,0.051482,-0.009645,-0.050033,...,5.240447,-3.889022,-13.87035,-9.833917,-6.828101,12.31985,-0.309904,1,2,3